header {
  border: 2px solid black;
  height: 150px;
  text-align: center;
  width: 700px;
  font-size: 22px;
  margin: 15px auto;
}

.underscores  {
  border: 2px solid black;
  height: 150px;
  text-align: center;
  width: 700px;
  font-size: 125px;
  margin: 15px auto;
}

.rightGuess {
  border: 2px solid black;
  height: 150px;
  text-align: center;
  width: 700px;
  font-size: 22px;
  margin: 50px auto;
}

.wrongGuess {
  border: 2px solid black;
  height: 150px;
  text-align: center;
  width: 700px;
  font-size: 22px;
  margin: 50px auto;
}